// $color-white: #ffffff;
// $color-black: #000000;
:root {
    --clr-white: #ffffff;
    --clr-white-form: #FBFBFB;
    --clr-black: #000000;
    --clr-heading-blk: #171717;
    --clr-blk-txt: #1b1b1b;
    --clr-black1:#2C2C2C;
    --clr-grey: #597885;
    --clr-grey-2: #686161;
    --clr-main-blue: #00A3E8;
    --clr-green-txt: #9BDB3F;
    --clr-lite-brown-txt: #e68c47;
    --clr-brown-txt: #c94a4a;
    --clr-border: #9F8D8D;
}
