// $color-white: #ffffff;
// $color-black: #000000;
:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-heading-blk: #171717;
    --clr-blk-txt: #1b1b1b;
    --clr-main-blue: #00A3E8;
    --clr-green-txt: #9BDB3F;
    --clr-lite-brown-txt: #E58C4A;
    --clr-brown-txt: #C94C4C;
}
