.iv-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: $spacer-5 0;

    &__outer {
        display: flex;
        justify-content: space-between;
        margin: 0 -16px;
        }

    &__left {
        width: calc(60% - 32px);
        margin: 0 16px;
    }

    &__right {
        width: calc(35% - 32px);
        margin: 0 16px;
    }

    &__logo {
        width: 300px;
        height: auto;
        margin-bottom: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__heading {
        color: var(--clr-heading-blk);
        font-size: 40px;
        font-weight: 400;
        &--blue {
            color: var(--clr-main-blue);
            font-size: 50px;
            font-weight: 800;
            width: 75%;
            margin: $spacer-2 0;
        }
    }

    &__date {
        margin-top: 50px;
        color: var(--clr-heading-blk);
        font-size: 35px;
        font-weight: 700;
    }
}

@include tablet {
    .iv-banner {
        &__left {
            width: calc(55% - 32px);
            margin: 0 16px;
        }
    
        &__right {
            width: calc(45% - 32px);
            margin: 0 16px;
        }

        &__heading {
            font-size: 34px;
            &--blue {
                font-size: 40px;
                width: 100%;
            }
        }

        &__date {
            font-size: 34px;
        }
    }
}

@include mobile {
    .iv-banner {
        &__outer {
            flex-direction: column;
        }
        &__left {
            width: calc(100% - 32px);
            margin: 0 16px;
        }
    
        &__right {
            width: calc(100% - 32px);
            margin: 0 16px;
        }

        &__heading {
            font-size: 30px;
            &--blue {
                font-size: 32px;
                width: 100%;
            }
        }

        &__logo {
            margin-bottom: $spacer-3;
        }

        &__date {
            font-size: 26px;
            margin: $spacer-3 0;
        }

       &__logo {

           width: 200px;
       }
    
    }
}