.iv-DynamicMarket{
    &__in{
        display: flex;
        padding: 0 15px;
    }
    .iv-heading{
        font-size: 40px;
        width: 80%;
        margin: 0 auto $spacer-5;
    }
    &__tile{
        width:calc( 33.33% - 32px);
        margin: 0 16px;
    }
}
@include tablet-pro{
    .iv-DynamicMarket{
        &__in{
            flex-direction: column;
            padding: 0 0px;
        }
        &__tile{
            width:calc( 100% - 0px);
            margin: 0 0 16px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .iv-heading{
            width: 100%;
        }
    }
}
@include mobile-tablet{
    .iv-DynamicMarket{
        &__in{
            flex-direction: column;
            padding: 0 0px;
        }
        &__tile{
            width:calc( 100% - 0px);
            margin: 0 0 16px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .iv-heading{
            width: 100%;
        }
    }
}