.iv-banner-title {
    background-color: var(--clr-main-blue);
    padding: $spacer-6 0;
    .iv-heading {
        &--white {
            width: 85%;
            margin: 0 auto;
        }
 
        &--sub {
            color: var(--clr-white);
        }
    }

}
@include mobile-tablet {
    .iv-banner-title {
        .iv-heading {
            &--white {
                width: 100%;
            }
        }
    }
}